{
  "speed": 16,
  "scaleMin": 0.33,
  "scaleMax": 1,
  "phases": {
    "0": {
      "sort": 0,
      "time": 15,
      "image": "/pat/uncanny/incredible.png:0",
      "sound": "/pat/uncanny/sfx/0.ogg"
    },
    "1": {
      "sort": 1,
      "time": 10.99,
      "image": "/pat/uncanny/incredible.png:1",
      "sound": "/pat/uncanny/sfx/1.ogg"
    },
    "2": {
      "sort": 2,
      "time": 8.42,
      "image": "/pat/uncanny/incredible.png:2",
      "sound": "/pat/uncanny/sfx/2.ogg"
    },
    "3": {
      "sort": 3,
      "time": 3.49,
      "image": "/pat/uncanny/incredible.png:3",
      "sound": "/pat/uncanny/sfx/3.ogg"
    },
    "4": {
      "sort": 4,
      "time": 4.09,
      "image": "/pat/uncanny/incredible.png:4",
      "sound": "/pat/uncanny/sfx/4.ogg"
    },
    "5": {
      "sort": 5,
      "time": 3.96,
      "image": "/pat/uncanny/incredible.png:5",
      "sound": "/pat/uncanny/sfx/5.ogg"
    },
    "6": {
      "sort": 6,
      "time": 3.74,
      "image": "/pat/uncanny/incredible.png:6",
      "sound": "/pat/uncanny/sfx/6.ogg"
    },
    "7": {
      "sort": 7,
      "time": 3.54,
      "image": "/pat/uncanny/incredible.png:7",
      "sound": "/pat/uncanny/sfx/7.ogg"
    },
    "8": {
      "sort": 8,
      "time": 2.97,
      "image": "/pat/uncanny/incredible.png:8",
      "sound": "/pat/uncanny/sfx/8.ogg"
    },
    "9": {
      "sort": 9,
      "time": 3.85,
      "image": "/pat/uncanny/incredible.png:9",
      "sound": "/pat/uncanny/sfx/9.ogg"
    },
    "10": {
      "sort": 10,
      "time": 5.09,
      "image": "/pat/uncanny/incredible.png:10",
      "sound": "/pat/uncanny/sfx/10.ogg"
    },
    "11": {
      "sort": 11,
      "time": 4.33,
      "image": "/pat/uncanny/incredible.png:11",
      "sound": "/pat/uncanny/sfx/11.ogg"
    },
    "12": {
      "sort": 12,
      "time": 3.87,
      "image": "/pat/uncanny/incredible.png:12",
      "sound": "/pat/uncanny/sfx/12.ogg"
    },
    "13": {
      "sort": 13,
      "time": 5.36,
      "image": "/pat/uncanny/incredible.png:13",
      "sound": "/pat/uncanny/sfx/13.ogg"
    }
  }
}
